{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex nulla, consequuntur explicabo assumenda facere quis ab excepturi autem rem! Dolorum quidem debitis quo consequuntur cumque perferendis earum quaerat laudantium.</p>
    </div>
{% endblock %}
