{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer le bien</h1>

        {{ include('admin/_form.html.twig', {formProperty: formProperty, button:'Créer'}) }}

    </div>
    
{% endblock %}